.dashboard-segment {
  border: 3px solid #aad6e4 !important;
}

.dashboard-grid {
  margin: 10px 0 !important;
  color: black !important;
}

.new {
  background-color: #e2e89e !important ;
}
.purples {
  background-color: #d1a1b7 !important;
}
.reds {
  background-color: #f17f96 !important;
}
.blues {
  background-color: #aad6e4 !important;
}
.yellows {
  background-color: #f7f083 !important;
}

.ui.table {
  color: black !important;
  border: 2px solid #aad6e4 !important;
}
.ui.table th {
  background-color: #aad6e4 !important;
}
.last-row .column h4 {
  margin-top: 10px !important;
}
.last-row > .column {
  border-right: 1px solid #aad6e4 !important;
}
.last-row .ui.label {
  font-size: large;
  background-color: white;
}

.last-row {
  border: 3px solid #aad6e4 !important;
}

.ui.divider {
  height: 5px !important;
}
