.left-arrow {
  color: #aad6e4;
}
.ui.label {
  background-color: white;
  color: #612668 !important;
  font-size: 13px;
  padding-left: 5px;
  text-transform: capitalize !important;
}
.left-column .ui.label:hover {
  background-color: #f7f083 !important;
}
.ui.icon {
  margin-right: 10px;
}
.right-column > .ui.button {
  background-color: #aad6e4 !important;
  color: #612668 !important;
  width: 100px;
}
.ui.divider {
  margin-top: 0 !important;
}
.ui.card {
  border: 3px solid #d1a1b7 !important;
}
.ui.list .item {
  text-transform: capitalize !important;
}
.main-segment {
  border: 3px solid #f17f96 !important;
  color: #612668;
  margin-top: 8px !important;
}
h2,
h3 {
  color: #612668 !important;
  text-align: center;
}
.contact-card {
  height: 230px !important;
}
.contact-card .item {
  padding-top: 15px !important;
}
.reddish {
  background-color: #f17f96 !important;
}
.dark-yellow {
  background-color: #e2e89e !important;
}
p {
  padding-left: 5px;
}
